form {
  padding: 10px 5px;
  display: flex;
  border-bottom: 1px solid #bebebe;
}

form input {
  font-family: 'Helvetica Neue',
  Helvetica,
  Arial,
  sans-serif;
  font-weight: 300;
  font-size: 24px;
  padding-left: 10px;
  width: 100%;
  border: none;
  outline: none;
}