.Todo {
  font-family: 'Helvetica Neue',
  Helvetica,
  Arial,
  sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #4d4d4d;
  padding: 10px 10px;
  border-bottom: 1px solid #bebebe;
  display: flex;
}

.Todo:last-child {
  border-bottom: none;
}

.Todo > p {
  margin: 0;
  margin: 0 0 0 20px;
}

.Todo-completed > p {
  text-decoration: line-through;
  opacity: .3;
}