.App {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #eee;
}

.App .Header {
  padding: 10px 5px;
  display: flex;
  border-bottom: 1px solid #bebebe;
}

.App .Header input {
  font-family: 'Helvetica Neue',
  Helvetica,
  Arial,
  sans-serif;
  font-weight: 300;
  font-size: 24px;
  padding-left: 10px;
  width: 100%;
  border: none;
  outline: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
