.App {
  width: 600px;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #eee;
  background: white;
  border-radius: 2px;
  box-shadow: 1px 2px 39px 0px rgba(0,0,0,0.75);
}
